[submodule "3rd/enet"]
	path = 3rd/enet
	url = https://github.com/lsalzman/enet.git
[submodule "3rd/luafilesystem"]
	path = 3rd/luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "3rd/sproto"]
	path = 3rd/sproto
	url = https://github.com/cloudwu/sproto.git
[submodule "3rd/sprotodump"]
	path = 3rd/sprotodump
	url = https://github.com/lvzixun/sprotodump.git
[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "3rd/levent"]
	path = 3rd/levent
	url = https://github.com/xjdrew/levent.git
[submodule "3rd/libev"]
	path = 3rd/libev
	url = https://github.com/enki/libev.git
